body {
    height: 100vh;
    width: 100vw;
}

#settings {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;   /* Height of the footer */
}

#github {
    position: fixed;
    bottom: 10px;
    right: 60px;
    height: 45px;
    width: 45px;
}

#settingGroup {
    background-color: lightblue;
    text-align: center;
    width: 540px;
    height: 50px;
    display: none;
}

#settingTab0 {
    width: 350px;
}

.textSettings {
    color: grey;
    text-decoration: line-through;
}

.removeLine{
    color: red;
}

.removeLine:hover{
    cursor: pointer;
}

.check:hover {
    cursor: pointer;
}
